[Unit]
Description=MemoCoco Service
After=network.target

[Service]
ExecStart=/usr/bin/memococo
Restart=always
WorkingDirectory=%h/.local/share/MemoCoco
Environment="PATH=/usr/bin:/usr/local/bin"

[Install]
WantedBy=default.target